<ul>
  <li><a href="/">         Home      </a></li>
  <li><a href="/mercury">  Mercury   </a></li>
  <li><a href="/venus">    Venus     </a></li>
  <li><a href="/mars">     Mars      </a></li>
  <li><a href="/jupitar">  Jupitar   </a></li>
  <li><a href="/earth">    Earth     </a></li>
</ul>