<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
        <br>
        <img src="/img/earth.jpg" alt="The Earth" style="width:75%" />
        <h1> Welcome to Earth! </h1>
        
        <p>The Earth’s rotation is gradually slowing.
        This deceleration is happening almost imperceptibly, 
        at approximately 17 milliseconds per hundred years, 
        although the rate at which it occurs is not perfectly uniform. 
        This has the effect of lengthening our days, 
        but it happens so slowly that it could be as much as 
        140 million years before the length of a day will have increased to 25 hours</p>
        <br>
        <p>The Earth is the densest planet in the Solar System.
        This varies according to the part of the planet; for example, 
        the metallic core is denser than the crust. The average density 
        f the Earth is approximately 5.52 grams per cubic centimetre.</p>
<%- include('partials/footer.ejs') %>