<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
        <br>
        <img src="/img/jupitar.jpg" alt="Jupitar" style="width:75%" />
        <h1> Welcome to Jupitar </h1>
        
        <p>Jupiter is the fourth brightest object in the solar system. 
        Only the Sun, Moon and Venus are brighter. 
        It is one of five planets visible to the naked eye from Earth.</p>
        <br>
        <p>Jupiter has the shortest day of all the planets. 
        It turns on its axis once every 9 hours and 55 minutes. 
        The rapid rotation flattens the planet slightly, giving it an oblate shape.</p>
        <br>
        <p>Jupiter orbits the Sun once every 11.8 Earth years.
        From our point of view on Earth, it appears to move slowly in the sky,
        taking months to move from one constellation to another.</p>
<%- include('partials/footer.ejs') %>