<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
        <br>
        <img src="/img/mars.png" alt="Mars" style="width:75%" />
        <h1> Welcome to Mars! </h1>
        
        <p>Mars and Earth have approximately the same landmass. 
        Even though Mars has only 15% of the Earth’s volume and 
        just over 10% of the Earth’s mass, around two thirds of 
        the Earth’s surface is covered in water. Martian surface 
        gravity is only 37% of the Earth’s (meaning you could leap 
        nearly three times higher on Mars).</p>
        <br>
        <p>Mars is home to the tallest mountain in the solar system. 
        Olympus Mons, a shield volcano, is 21km high and 600km in diameter. 
        Despite having formed over billions of years, evidence from volcanic 
        lava flows is so recent many scientists believe it could still be 
        active.</p>
        

<%- include('partials/footer.ejs') %>