<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
        <br>
        <img src="/img/mercury.png" alt="Mercury" style="width:75%" />
        <h1> Welcome to Mercury </h1>
        
        <p>A year on Mercury is just 88 days long. One solar day 
        (the time from noon tonoon on the planet’s surface) on Mercury 
        lasts the equivalent of 176 Earth dayswhile the sidereal day 
        (the time for 1 rotation in relation to a fixed point) lasts 59 
        Earth days. Mercury is nearly tidally locked to the Sun and over 
        time this has slowed the rotation of the planet to almost match 
        its orbit around the Sun. Mercury also has the highest orbital 
        eccentricity of all the planets with its distance from the Sun 
        ranging from 46 to 70 million km.</p>
        <br>
        <p>Mercury is the smallest planet in the Solar System. 
        One of five planets visible with the naked eye a, Mercury 
        is just 4,879 Kilometres across its equator, compared with 
        12,742 Kilometres for the Earth.</p>
<%- include('partials/footer.ejs') %>