<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
        <br>
        <img src="/img/venus.png" alt="Venus" style="width:75%" />
        <h1> Welcome to Venus! </h1>
        
        <p>A day on Venus lasts longer than a year. 
        It takes 243 Earth days to rotate once on its axis (sidereal day). 
        The planet’s orbit around the Sun takes 225 Earth days, 
        compared to the Earth’s 365. A day on the surface of Venus 
        (solar day) takes 117 Earth days.</p>
        <br>
        <p>Venus rotates in the opposite direction to most other planets. 
        This means that Venus is rotating in the opposite direction to the 
        Sun, this is also known as a retrograde rotation. One possible reason 
        for this might be a collision with an asteroid or other object.</p>
<%- include('partials/footer.ejs') %>